<section class="welcome-wrapper"> 
    <div class="center welcome-container">
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= render 'homepage_welcome_message' %>
    	<%= render 'homepage_signin_form' %>
		<%= render 'homepage_signup_form' %>
        <%= render 'homepage_buttons' %>	
	</div>
</section>

<section class="fakebottom">
    <%= render 'homepage_fakebottom' %>
</section>

<section class="container">
	<h3 class="text-center">Marketing content will go here.</h3>
</section>


