<% provide(:title, 'Reset Password') %>
<section class="container my-container">
	<h3>Reset your password</h3>
	<p>Enter your email below so we can send you a link to reset your password.</p>

	<div class="row">
		<div class="span4">
			<%= form_tag password_resets_path, method: 'post' do %>	
				<%= label_tag :email %>
				<%= text_field_tag :email, params[:email] %>

				<%= submit_tag "Reset password", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>

	<p>New user? <%= link_to "Join the conversation!" , signup_path %></p>
</section>