<%# We render this by explicity passing in f: render 'fields', f: f %>
<div class="row">
	<div class="span2">
		<%= f.text_field :first_name, placeholder: "Tell us your first name" %>
	</div>
	<div class="span2">
		<%= f.text_field :last_name, placeholder: "Tell us your last name" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= f.text_field :email, placeholder: "Tell us your email address" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= f.password_field :password, placeholder: "Select a password" %>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
	</div>
</div>



