<%# We render this by explicity passing in f: render 'fields', f: f %>
<p>
	<div class="row-fluid">
		<div class="span6">
			<%= f.label :first_name, "Your first name" %>
			<%= f.text_field :first_name %>
		</div>
		<div class="span6">
			<%= f.label :last_name, "Your last name" %>
			<%= f.text_field :last_name %>
		</div>
	</div>
</p>

<p>
	<%= f.label :email, "Your email address" %>
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :password, "Choose a password" %>
	<%= f.password_field :password %>
</p>

<p>
	<%= f.label :password_confirmation, "Confirm your password" %>
	<%= f.password_field :password_confirmation %>
</p>