<% provide(:title, 'Account Activation') %>
<h3>Activate your account</h3>
<p>Please use the activation link sent to your email, or enter your email below and a new link will be sent to you.</p>

<div class="row">
	<div class="span4">
		<%= form_for @user, url: {action: "resend"}  do |f| %>
			
			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.submit "Send", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<p>New user? <%= link_to "Join the conversation!" , signup_path %></p>