<% provide(:title, 'Create your Account') %>
<section class="signin-signup-wrapper">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, 
                id: "flash-notification",
                class: "notice notice-#{key}") %>
    <% end %>
    <div class="form-header">       
        <span class="sign-up-call-to-action">Sign up</span> 
        <span class="link-to-sign-in"><%= link_to "Sign in", signin_path %></span>
    </div>   
    <div class="sign-up-form-container">
        <%= form_for( @user ) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= render 'users/user_partials/fields', f: f %>
            <%= render 'users/user_partials/submit_button', f: f %>
        <% end %>         
    </div>    
</section>