<div class="well signup-form">
	<h4>New to Kshizzy? Sign up.</h4>
	<%= form_for(@user, url: signup_path, method: 'get') do |f| %>	
		<div class="row-fluid">
			<%= f.text_field :first_name, placeholder: "First Name", class: "span6" %>
			<%= f.text_field :last_name, placeholder: "Last Name", class: "span6" %>			
		</div>
		<%= f.text_field :email, placeholder: "Email" %>
		<%= f.submit "Sign up for Kshizzy", 
						class: "btn btn-large btn-warning", 
						style: "float:right" %>
	<% end %>		
</div>
