<div class="popout-body">
	<div class="popout-bucket">
		<%= gravatar_for @current_user, size: 60 %>
		<div class="bucket-content">
			<h5><%= link_to current_user.first_name, "#" %><h5>
		</div>	
	</div>
	<div class="popout-carousel">
		<%= render 'layouts/popout/popout_carousel_notifications' %>
		<%= render 'layouts/popout/popout_carousel_ideas' %>
		<%= render 'layouts/popout/popout_carousel_people' %>
		<%= render 'layouts/popout/popout_carousel_actions' %>
		<%= render 'layouts/popout/popout_carousel_messages' %>
		<%= render 'layouts/popout/popout_carousel_conversations' %>
		<%= render 'layouts/popout/popout_carousel_settings' %>
	</div>
</div>