<div>
	<div>
	  <%= link_to "Play Conversation", "#" %>
	</div>

	<div>
	  <%= link_to "Share", "#" %>
	</div>

	<div>
	  <%= link_to "Participants", "#" %>
	</div>

	<div>
	  <%= link_to "kMap", "#" %>
	</div>

	<div>
	  <%= link_to "Subscribe", "#" %>
	</div>
</div>