
<footer class="row">
  <nav class="span12">
    <ul class="">
      <li><%= link_to "About",     about_path %></li>
      <li><%= link_to "Blog",      '#' %></li>
      <li><%= link_to "Help",      help_path %></li>
      <li><%= link_to "Privacy",   '#' %></li>
      <li><%= link_to "Jobs",      '#' %></li>
      <li><%= link_to "Dev",       '#' %></li>
      <li><%= link_to "Terms",     '#' %></li>
      <li><%= link_to "Contact",   contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <!-- <li><%#= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %></li> -->
    </ul> 
  </nav>
</footer>


<div class="row">
  <div class="span6 offset6">
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>
