<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application", :async => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header/header' %> 
    <% if @current_user.nil? %>
      <%= yield %>
    <% else %>
      <section class="my-wrapper">
        <%= render 'layouts/popout/popout' %>
        <section class="my-container">
      		<% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
      		<%= yield %>
      	</section>
      </section>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
